# Creación del dataset conjunto.
En el presente notebook se describe la creación de un dataset único que aúna los datos sobre el nivel educativo alcanzado (nuestras variables objetivos), el gasto en educación, las emisiones en CO2 y la confianza en las vacunas.

Cargamos los módulos necesarios:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xml.etree.ElementTree as ET
import requests
import json
from lxml import etree
from bs4 import BeautifulSoup
import math as m
import csv
#import wget

La siguiente función `df_info` nos permite ver los nombres de las columnas de un dataframe, su tipo y cúantos valores únicos toma y cúales son:

In [2]:
# Show unique values for variables. Discrete? Continuous?
# Select variables
def info(df_name):

    # Consider each columns
    columns_level = list(df_name.columns.values)

    for column in columns_level:
        
        # Display column name
        print("Column: " + column)
        
        # Display column type
        print("Type: " + str(df_name[column].dtype))
        
        # Diplay unique values
        temp  = df_name[column].unique()
        print('Unique values ' + str(len(temp)) + ":")
        print(temp)
        
        print('\n')

**Leemos el dataset `adult_education_level.csv`, que contiene los datos sobre el nivel educativo alcanzado:**

In [3]:
# Read .csv file
df_level = pd.read_csv('adult_education_level.csv')

Mostramos su información:

In [4]:
info(df_level)

Column: LOCATION
Type: object
Unique values 48:
['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'BRA' 'CHL' 'CHN' 'COL' 'EST' 'IDN'
 'ISR' 'LVA' 'RUS' 'SVN' 'ZAF' 'OAVG' 'ARG' 'SAU' 'IND' 'LTU' 'CRI' 'G20']


Column: INDICATOR
Type: object
Unique values 1:
['EDUADULT']


Column: SUBJECT
Type: object
Unique values 7:
['BUPPSRY' 'TRY' 'UPPSRY' 'TRY_MEN' 'TRY_WOMEN' 'UPPSRY_MEN'
 'UPPSRY_WOMEN']


Column: MEASURE
Type: object
Unique values 1:
['PC_25_64']


Column: FREQUENCY
Type: object
Unique values 1:
['A']


Column: TIME
Type: int64
Unique values 40:
[1989 1991 1993 1994 1995 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
 2020 1992 1981 1990 1996 1988 1987 1982 1983 1984 1985 1986]


Column: Value
Type: float64
Unique values 6967:
[44.650639 44.127056 47.159046 ... 32.03635  31.427534 31.72175 ]


Column: Flag Codes
Type: float64
Unique values 1:
[nan]

In [131]:
df_level.head()

  LOCATION INDICATOR  SUBJECT   MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS  EDUADULT  BUPPSRY  PC_25_64         A  1989  44.650639         NaN
1      AUS  EDUADULT  BUPPSRY  PC_25_64         A  1991  44.127056         NaN
2      AUS  EDUADULT  BUPPSRY  PC_25_64         A  1993  47.159046         NaN
3      AUS  EDUADULT  BUPPSRY  PC_25_64         A  1994  49.802025         NaN
4      AUS  EDUADULT  BUPPSRY  PC_25_64         A  1995  44.935852         NaN

**Leemos el dataset `education_spending.csv`, que contiene los datos sobre el gasto educativo:**

In [5]:
# Read .csv file
df_spend = pd.read_csv('education_spending.csv')

Mostramos su información:

In [6]:
info(df_spend)

Column: LOCATION
Type: object
Unique values 48:
['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'BRA' 'CHL' 'CHN' 'COL' 'EST' 'IDN'
 'ISR' 'LVA' 'RUS' 'SVN' 'ZAF' 'OAVG' 'ARG' 'SAU' 'IND' 'LTU' 'CRI' 'G20']


Column: INDICATOR
Type: object
Unique values 1:
['EDUADULT']


Column: SUBJECT
Type: object
Unique values 7:
['BUPPSRY' 'TRY' 'UPPSRY' 'TRY_MEN' 'TRY_WOMEN' 'UPPSRY_MEN'
 'UPPSRY_WOMEN']


Column: MEASURE
Type: object
Unique values 1:
['PC_25_64']


Column: FREQUENCY
Type: object
Unique values 1:
['A']


Column: TIME
Type: int64
Unique values 40:
[1989 1991 1993 1994 1995 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
 2020 1992 1981 1990 1996 1988 1987 1982 1983 1984 1985 1986]


Column: Value
Type: float64
Unique values 6967:
[44.650639 44.127056 47.159046 ... 32.03635  31.427534 31.72175 ]


Column: Flag Codes
Type: float64
Unique values 1:
[nan]

**Leemos el dataset `co-emissions-per-capita.csv`, que contiene los datos sobre las emisiones de CO2 per cápita:**

In [7]:
# Read .csv file
df_co2 = pd.read_csv('co-emissions-per-capita.csv')

Mostramos su información:

In [8]:
info(df_co2)

Column: Entity
Type: object
Unique values 230:
['Afghanistan' 'Africa' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia'
 'Asia (excl. China & India)' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bermuda' 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'EU-27' 'EU-28' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'Europe (excl. EU-27)' 'Europe (excl. EU-28)' 'Faeroe Islands' 'Fiji'
 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Macao' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte'
 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North America' 'North America (excl. USA)' 'North Korea'
 'North Macedonia' 'Norway' 'Oceania' 'Oman' 'Pakistan' 'Palau'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia'
 'Rwanda' 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South America'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'World' 'Yemen'
 'Zambia' 'Zimbabwe']


Column: Code
Type: object
Unique values 219:
['AFG' nan 'ALB' 'DZA' 'AND' 'AGO' 'AIA' 'ATG' 'ARG' 'ARM' 'ABW' 'AUS'
 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN'
 'BOL' 'BES' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'KHM' 'CMR'
 'CAN' 'CPV' 'CAF' 'TCD' 'CHL' 'CHN' 'COL' 'COM' 'COG' 'COK' 'CRI' 'CIV'
 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'COD' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY'
 'SLV' 'GNQ' 'ERI' 'EST' 'SWZ' 'ETH' 'FRO' 'FJI' 'FIN' 'FRA' 'GUF' 'PYF'
 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GRC' 'GRL' 'GRD' 'GLP' 'GTM' 'GIN' 'GNB'
 'GUY' 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN' 'IRN' 'IRQ' 'IRL' 'ISR'
 'ITA' 'JAM' 'JPN' 'JOR' 'KAZ' 'KEN' 'KIR' 'KWT' 'KGZ' 'LAO' 'LVA' 'LBN'
 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LUX' 'MAC' 'MDG' 'MWI' 'MYS' 'MDV' 'MLI'
 'MLT' 'MHL' 'MTQ' 'MRT' 'MUS' 'MYT' 'MEX' 'MDA' 'MNG' 'MNE' 'MSR' 'MAR'
 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC' 'NER' 'NGA' 'NIU'
 'PRK' 'MKD' 'NOR' 'OMN' 'PAK' 'PLW' 'PSE' 'PAN' 'PNG' 'PRY' 'PER' 'PHL'
 'POL' 'PRT' 'PRI' 'QAT' 'REU' 'ROU' 'RUS' 'RWA' 'SHN' 'KNA' 'LCA' 'SPM'
 'VCT' 'WSM' 'STP' 'SAU' 'SEN' 'SRB' 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN'
 'SLB' 'SOM' 'ZAF' 'KOR' 'SSD' 'ESP' 'LKA' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR'
 'TWN' 'TJK' 'TZA' 'THA' 'TLS' 'TGO' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA'
 'TUV' 'UGA' 'UKR' 'ARE' 'GBR' 'USA' 'URY' 'UZB' 'VUT' 'VEN' 'VNM'
 'OWID_WRL' 'YEM' 'ZMB' 'ZWE']


Column: Year
Type: int64
Unique values 226:
[1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962
 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976
 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990
 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
 2019 2020 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895
 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909
 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923
 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937
 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1830 1831 1832
 1833 1850 1855 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868
 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882
 1883 1807 1819 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1834
 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848
 1849 1851 1852 1853 1854 1856 1857 1802 1790 1800 1801 1803 1804 1805
 1806 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1750 1760
 1770 1780]


Column: Annual CO2 emissions (per capita)
Type: float64
Unique values 17373:
[0.0019 0.0109 0.0117 ... 0.673  0.821  0.7476]

**Leemos el dataset `vaccine.csv`, que contiene los datos sobre las emisiones de CO2 per cápita:**

In [9]:
# Read .csv file
df_vacc = pd.read_csv('vaccine.csv', sep = ";")

Mostramos su información:

In [10]:
info(df_vacc)

Column: country or territory
Type: object
Unique values 149:
['Algeria' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cameroon' 'Chad'
 'Comoros' 'Democratic Republic of the Congo' 'Ethiopia' 'Gabon' 'Gambia'
 'Ghana' 'Guinea' 'Ivory Coast' 'Kenya' 'Liberia' 'Madagascar' 'Malawi'
 'Mali' 'Mauritania' 'Mauritius' 'Mozambique' 'Namibia' 'Niger' 'Nigeria'
 'Republic of Congo' 'Rwanda' 'Senegal' 'Sierra Leone' 'South Africa'
 'Swaziland' 'Tanzania' 'Togo' 'Uganda' 'Zambia' 'Zimbabwe' 'Argentina'
 'Bolivia' 'Brazil' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Dominican Republic' 'Ecuador' 'El Salvador' 'Guatemala' 'Haiti'
 'Honduras' 'Mexico' 'Nicaragua' 'Panama' 'Paraguay' 'Peru' 'Uruguay'
 'USA' 'Venezuela' 'Afghanistan' 'Egypt' 'Iran' 'Iraq' 'Jordan' 'Kuwait'
 'Lebanon' 'Libya' 'Morocco' 'Pakistan' 'Palestine' 'Saudi Arabia' 'Syria'
 'Tunisia' 'United Arab Emirates' 'Yemen' 'Albania' 'Armenia' 'Austria'
 'Azerbaijan' 'Belarus' 'Belgium' 'Bosnia and Herzegovina' 'Bulgaria'
 'Croatia' 'Cyprus' 'Czech Republic' 'Denmark' 'Estonia' 'Finland'
 'France' 'Georgia' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland'
 'Israel' 'Italy' 'Kazakhstan' 'Kosovo' 'Kyrgyzstan' 'Latvia' 'Lithuania'
 'Luxembourg' 'Macedonia' 'Malta' 'Moldova' 'Montenegro' 'Netherlands'
 'Northern Cyprus' 'Norway' 'Poland' 'Portugal' 'Romania' 'Russia'
 'Serbia' 'Slovakia' 'Slovenia' 'Spain' 'Sweden' 'Switzerland'
 'Tajikistan' 'Turkey' 'Turkmenistan' 'UK' 'Ukraine' 'Uzbekistan'
 'Bangladesh' 'India' 'Indonesia' 'Myanmar' 'Nepal' 'Sri Lanka' 'Thailand'
 'Australia' 'Cambodia' 'China' 'Fiji' 'Hong Kong' 'Japan' 'Laos'
 'Malaysia' 'Mongolia' 'New Zealand' 'Papua New Guinea' 'Philippines'
 'Singapore' 'South Korea' 'Taiwan' 'Vietnam']


Column: who_region
Type: object
Unique values 6:
['AFR' 'AMR' 'EMR' 'EUR' 'SEAR' 'WPR']


Column: count
Type: int64
Unique values 194:
[ 397  928  786  403 1953  788  923  937  696  899 1000 1003  969  955
  789  995  697  833  901  908  828  882 1848 1022  809  966  636 1969
  732  805 3624  845  743 2345  848  889 1157  421  917  933  827  806
  768  876  973  962  547  921 1985  950 1010  985  914  998  920 1149
  949  749  947  586  927  849  393 1002  500  932 1200  860  883  963
  982 1006  884 2080  990 1724  991  667  846  980  875  993  874  977
  727 1014  978  591  686  893  775  847 1104  859 1516  502  898  940
  916 1007 1198  934  829  946  680 1048  976  999  506  958 1020 1017
 1101  970 1276  964  972  960  808  865  984  974 1009  959 1037  485
  943 1011 1158  929  800 1024  906 1013  776 1005 1015 1016  767  530
  930 1180 1199  948  939 1043 1034  987  866 1047 1223  957  501 1828
 1500  886 1049  907 1053 1041  981  909 1031 1027  895  892  967 2074
  492  941 1067 2707  639 1033  832  961  614  600 1190  988 1150 3233
  497  523 1153  519  617  938  597 1800  815  994  569  428]


Column: sagree
Type: int64
Unique values 536:
[ 363  302  295  603  397  418  619  500  552  367  308 1577 1122 1242
  652  438  521  874  752  782  792  543  593  473  399  407  801  710
  724  817  663  703  967  788  870  929  833  852  693  499  699  650
  656  862  737  708  609  541  542  672  538  607  688  515  565  810
  690  864  816  554  608  636  837  783 1623 1411 1517  646  462  594
  917  855  872  513  569  813  434  525  773  695  557  537  453  394
 1771 1682 1724  581  578  673  639 2914 2697 2701  704  633  806  760
  717  625  466  775  678  735 2011 1582 1785  518  575  798  744  562
  588  346  287  279  531  572  873  793  739  276  390  719  602  648
  533  517  649  722  933  841  902  702  497  411  429  718  457 1845
 1451 1504  584  546  516  745  523  723  555  577  882  605  632  598
 1001  764  732  893  696  654  509  797  687  660  815  637  645  463
  406  404  796  566  570  730  366  253  289  830  686  677  567  423
  492  844  715  721  306  853  731  904  691  772  529  496  811  590
  592  659  382  490  510  628  559  726  468  586  753  615  667  712
 1585 1319 1403  838 1267 1003 1038  861  601  211  351  767  478  582
  617  959  709  778  860  706  705  616  920  641  728  674  679  477
  156  103  101  883  682  776  668  600  524  669  700  644  780  795
  475  413  655  556  907  770  671  522  631  504  790  676  756  419
  440  255  191  138  471  354  184  238  901  350  436  604  386  465
  298  381  560  487  232  167  169  416  447  227  236  241  292  313
  544  328  383  234  315  670  568  610  511  357  527  331  261  327
  248  320  392  368  417  489  257  300  553  420  445  642  384  621
  428  540  505  195  230  573  647  589  277  324  321  356  459  824
  574  597 1093  895 1022  341   82  210  414  213  299  265  495  360
   19  250  448  651  421  389  620  580  260  359  664  424  506  749
  747  826  640  675  858  763  131  358  519  479  689  402  405  244
  322  415  614  376  280  846  563  809  491  493  443  187  235  512
  256  549  374  247  269  181  229  461  622  729  534  550  119  124
  409  266  283  288  319  212  264  379  474  926  697  734  349  435
  333  561  536  551  692  548  514  539  583  476  307  348 1118  741
  437  365  681  455  503  401  316  163  193  364  758  823  587  494
  470  743  774  508  452  769  226  147  170  599  777  742  412  460
  444 1316  974  951  635  215   76  120  180  802  845  771  938  927
  918  937  784 2405 2339 2321  913  827  375  297  482  831  754  532
  547  410  274  596  900  707 2093 1508 1570  190  109  123  104  115
  484  102  220   81  134  179  271  483  431  385   79  129  387  820
  480 1087  894  910  765  325  939  711  661  345  143  486  217  310
  150  197  189  177]


Column: sdisagree
Type: int64
Unique values 103:
[  2  13  19  17  33  26   6  54  21   4  50  73  23  27   7  10  53  35
   9  14   5  28  30  78   1   3  76  18  16   8  44  48  15  25 131  40
  65  46  12  11  22  32  34  36  39  42  55  66  45  61 151  67  20  49
  24  31  85  69  29  37   0  56  58  63  41  68  52  90  51  43  91 129
 102  72  64 105 103 124  38  75 168 111 172  84 132  70  57 127  79  59
  47  60  77 107  83 101  97  80  62 104 146 136  74]


Column: question
Type: object
Unique values 3:
['important' 'safe' 'effective']


Column: time
Type: object
Unique values 143:
['2015,833333' '2018,766667' '2018,566667' '2018,802778' '2016,33'
 '2018,497222' '2018,713889' '2018,341667' '2018,780556' '2018,777778'
 '2018,477778' '2018,611111' '2018,502778' '2018,9' '2018,669444'
 '2018,755556' '2018,416667' '2018,405556' '2018,619444' '2018,366667'
 '2018,730556' '2018,322222' '2018,688889' '2018,655556' '2018,527778'
 '2018,394444' '2019,846575' '2018,538889' '2018,5' '2018,547222'
 '2018,513889' '2018,658333' '2018,508333' '2018,552778' '2018,711111'
 '2018,555556' '2018,516667' '2019,849315' '2018,7' '2018,6' '2018,563889'
 '2018,622222' '2019,879452' '2018,519444' '2018,752778' '2019,843836'
 '2018,536111' '2018,544444' '2018,741667' '2018,683333' '2018,836111'
 '2019,915068' '2018,430556' '2018,652778' '2019,865753' '2018,85'
 '2018,586111' '2019,835616' '2018,825' '2018,608333' '2018,372222'
 '2018,927778' '2019,832877' '2018,916667' '2018,530556' '2018,336111'
 '2018,583333' '2019,936986' '2018,594444' '2018,352778' '2019,947945'
 '2018,347222' '2018,355556' '2018,733333' '2019,917808' '2018,666667'
 '2019,873973' '2018,397222' '2018,761111' '2018,672222' '2019,868493'
 '2018,438889' '2018,4' '2018,858333' '2019,926027' '2018,383333'
 '2018,377778' '2018,386111' '2018,686111' '2019,860274' '2018,380556'
 '2019,863014' '2018,391667' '2018,794444' '2019,931507' '2018,630556'
 '2018,408333' '2018,425' '2018,830556' '2018,311111' '2018,35'
 '2018,569444' '2019,841096' '2018,561111' '2019,920548' '2018,472222'
 '2018,419444' '2018,797222' '2019,893151' '2018,333333' '2018,302778'
 '2018,441667' '2018,869444' '2019,887671' '2018,369444' '2019,89589'
 '2019,821918' '2019,882192' '2018,719444' '2018,327778' '2018,822222'
 '2018,805556' '2018,908333' '2018,494444' '2018,580556' '2018,491667'
 '2018,627778' '2019,876712' '2018,708333' '2018,575' '2019,964384'
 '2019,871233' '2018,616667' '2018,45' '2018,633333' '2018,21' '2018,83'
 '2019,21' '2019,71' '2019,786301' '2018,602778' '2018,469444'
 '2019,90137']

## En primer lugar, veamos qué países tienen en común todos los dataset:

**Para el dataset relativo al nivel educativo alcanzado (`df_level`)**, observamos que hay 48 países distintos:

In [11]:
unique_location_level = np.unique(df_level['LOCATION'])

In [12]:
len(unique_location_level)

48

In [13]:
unique_location_level

array(['ARG', 'AUS', 'AUT', 'BEL', 'BRA', 'CAN', 'CHE', 'CHL', 'CHN',
       'COL', 'CRI', 'CZE', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA',
       'G20', 'GBR', 'GRC', 'HUN', 'IDN', 'IND', 'IRL', 'ISL', 'ISR',
       'ITA', 'JPN', 'KOR', 'LTU', 'LUX', 'LVA', 'MEX', 'NLD', 'NOR',
       'NZL', 'OAVG', 'POL', 'PRT', 'RUS', 'SAU', 'SVK', 'SVN', 'SWE',
       'TUR', 'USA', 'ZAF'], dtype=object)

Observamos que algunos hay dos *países* que llama la atención: 
* OAVG: se corresponde con los datos medios de la OCDE,
* G20: se corresponde con la media de los países del grupo G20.

A priori, estas localizaciónes pueden no estar disponibles en el resto de dataset.

**Para el dataset relativo al gasto educativo `df_spend`**, veamos qué países contiene:

In [14]:
unique_location_spend = np.unique(df_spend['LOCATION'])

In [15]:
len(unique_location_spend)

48

También obtenemos 48 localizaciones (se debe a que la fuente es la misma).

Compobemos que `unique_location_spend` y `unique_location_level` contienen las mismas localizaciones:

In [16]:
# Return locations in unique_location_level that are not in unique_location_spend
[x for x in unique_location_level if x not in unique_location_spend]

[]

In [17]:
# Return locations in unique_location_spend that are not in unique_location_level
[x for x in unique_location_spend if x not in unique_location_level]

[]

Puesto que ambos resultados son listas vacías, concluímos que son el mismpo conjunto.

**Analizamos los países contenidos en el dataset relativo a las emisiones de CO2 `df_co2`:**

Observamos que hay campos nulos en la columna "Code" y estos se corresponde con continentes o regiones que abarcan a varios países (almacenados en la columna "Entity"):

In [18]:
co2_continents = np.unique(df_co2[df_co2['Code'].isnull() == True]['Entity'])
co2_continents

array(['Africa', 'Asia', 'Asia (excl. China & India)', 'EU-27', 'EU-28',
       'Europe', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'North America', 'North America (excl. USA)', 'Oceania',
       'South America'], dtype=object)

Comprobemos si alguno de los resultados anteriores está contenido en los países coincidentes entre los de gasto en educación y nivel educativo alcanzado. No los hay:

In [19]:
[x for x in co2_continents if x in unique_location_spend]

[]

Eliminamos las filas que contienen valores nulos en la columna "Code":

In [20]:
# Elkiminamos los que son nulos (ver unicos valores de code al inicio)
unique_location_co2 = np.unique(df_co2[df_co2['Code'].isnull() == False]["Code"])

Miramos qué países de `unique_location_level` no están en `unique_location_co2`:

In [21]:
[x for x in unique_location_level if x not in unique_location_co2]

['G20', 'OAVG']

Tan sólo hay dos no coincidentes. G20, OAVG.

**En el dataset relativo a las vacunas `df_vacc`**, ya observamos que se encuentran los nombres completos de los países y no su código alpha-3. Si bien, en el dataset relativo a las emidiones de CO2 `df_co2`, tenemos dos columnas que nos permitirán solucionar este problema:
* Entity: contiene el nombre completo del pañis;
* Code: contiene el código alpha-3 del país.

Empleando estas dos columnas, concatenamos código alpha-3 y el combre completo del dataset `df_co2`:

In [22]:
co2_code_entity = df_co2['Code'] + '-' + df_co2['Entity']

Lo separamos en tuplas del tipo (codigo alpha-3, nombre completo):

In [23]:
co2_tuples = [tuple(x.split('-')) for x in np.unique([x for x in co2_code_entity if x is not float])]
co2_tuples

[('ABW', 'Aruba'),
 ('AFG', 'Afghanistan'),
 ('AGO', 'Angola'),
 ('AIA', 'Anguilla'),
 ('ALB', 'Albania'),
 ('AND', 'Andorra'),
 ('ARE', 'United Arab Emirates'),
 ('ARG', 'Argentina'),
 ('ARM', 'Armenia'),
 ('ATG', 'Antigua and Barbuda'),
 ('AUS', 'Australia'),
 ('AUT', 'Austria'),
 ('AZE', 'Azerbaijan'),
 ('BDI', 'Burundi'),
 ('BEL', 'Belgium'),
 ('BEN', 'Benin'),
 ('BES', 'Bonaire Sint Eustatius and Saba'),
 ('BFA', 'Burkina Faso'),
 ('BGD', 'Bangladesh'),
 ('BGR', 'Bulgaria'),
 ('BHR', 'Bahrain'),
 ('BHS', 'Bahamas'),
 ('BIH', 'Bosnia and Herzegovina'),
 ('BLR', 'Belarus'),
 ('BLZ', 'Belize'),
 ('BMU', 'Bermuda'),
 ('BOL', 'Bolivia'),
 ('BRA', 'Brazil'),
 ('BRB', 'Barbados'),
 ('BRN', 'Brunei'),
 ('BTN', 'Bhutan'),
 ('BWA', 'Botswana'),
 ('CAF', 'Central African Republic'),
 ('CAN', 'Canada'),
 ('CHE', 'Switzerland'),
 ('CHL', 'Chile'),
 ('CHN', 'China'),
 ('CIV', "Cote d'Ivoire"),
 ('CMR', 'Cameroon'),
 ('COD', 'Democratic Republic of Congo'),
 ('COG', 'Congo'),
 ('COK', 'Cook Islands'),
 ('COL', 'Colombia'),
 ('COM', 'Comoros'),
 ('CPV', 'Cape Verde'),
 ('CRI', 'Costa Rica'),
 ('CUB', 'Cuba'),
 ('CUW', 'Curacao'),
 ('CYP', 'Cyprus'),
 ('CZE', 'Czechia'),
 ('DEU', 'Germany'),
 ('DJI', 'Djibouti'),
 ('DMA', 'Dominica'),
 ('DNK', 'Denmark'),
 ('DOM', 'Dominican Republic'),
 ('DZA', 'Algeria'),
 ('ECU', 'Ecuador'),
 ('EGY', 'Egypt'),
 ('ERI', 'Eritrea'),
 ('ESP', 'Spain'),
 ('EST', 'Estonia'),
 ('ETH', 'Ethiopia'),
 ('FIN', 'Finland'),
 ('FJI', 'Fiji'),
 ('FRA', 'France'),
 ('FRO', 'Faeroe Islands'),
 ('GAB', 'Gabon'),
 ('GBR', 'United Kingdom'),
 ('GEO', 'Georgia'),
 ('GHA', 'Ghana'),
 ('GIN', 'Guinea'),
 ('GLP', 'Guadeloupe'),
 ('GMB', 'Gambia'),
 ('GNB', 'Guinea', 'Bissau'),
 ('GNQ', 'Equatorial Guinea'),
 ('GRC', 'Greece'),
 ('GRD', 'Grenada'),
 ('GRL', 'Greenland'),
 ('GTM', 'Guatemala'),
 ('GUF', 'French Guiana'),
 ('GUY', 'Guyana'),
 ('HKG', 'Hong Kong'),
 ('HND', 'Honduras'),
 ('HRV', 'Croatia'),
 ('HTI', 'Haiti'),
 ('HUN', 'Hungary'),
 ('IDN', 'Indonesia'),
 ('IND', 'India'),
 ('IRL', 'Ireland'),
 ('IRN', 'Iran'),
 ('IRQ', 'Iraq'),
 ('ISL', 'Iceland'),
 ('ISR', 'Israel'),
 ('ITA', 'Italy'),
 ('JAM', 'Jamaica'),
 ('JOR', 'Jordan'),
 ('JPN', 'Japan'),
 ('KAZ', 'Kazakhstan'),
 ('KEN', 'Kenya'),
 ('KGZ', 'Kyrgyzstan'),
 ('KHM', 'Cambodia'),
 ('KIR', 'Kiribati'),
 ('KNA', 'Saint Kitts and Nevis'),
 ('KOR', 'South Korea'),
 ('KWT', 'Kuwait'),
 ('LAO', 'Laos'),
 ('LBN', 'Lebanon'),
 ('LBR', 'Liberia'),
 ('LBY', 'Libya'),
 ('LCA', 'Saint Lucia'),
 ('LIE', 'Liechtenstein'),
 ('LKA', 'Sri Lanka'),
 ('LSO', 'Lesotho'),
 ('LTU', 'Lithuania'),
 ('LUX', 'Luxembourg'),
 ('LVA', 'Latvia'),
 ('MAC', 'Macao'),
 ('MAR', 'Morocco'),
 ('MDA', 'Moldova'),
 ('MDG', 'Madagascar'),
 ('MDV', 'Maldives'),
 ('MEX', 'Mexico'),
 ('MHL', 'Marshall Islands'),
 ('MKD', 'North Macedonia'),
 ('MLI', 'Mali'),
 ('MLT', 'Malta'),
 ('MMR', 'Myanmar'),
 ('MNE', 'Montenegro'),
 ('MNG', 'Mongolia'),
 ('MOZ', 'Mozambique'),
 ('MRT', 'Mauritania'),
 ('MSR', 'Montserrat'),
 ('MTQ', 'Martinique'),
 ('MUS', 'Mauritius'),
 ('MWI', 'Malawi'),
 ('MYS', 'Malaysia'),
 ('MYT', 'Mayotte'),
 ('NAM', 'Namibia'),
 ('NCL', 'New Caledonia'),
 ('NER', 'Niger'),
 ('NGA', 'Nigeria'),
 ('NIC', 'Nicaragua'),
 ('NIU', 'Niue'),
 ('NLD', 'Netherlands'),
 ('NOR', 'Norway'),
 ('NPL', 'Nepal'),
 ('NRU', 'Nauru'),
 ('NZL', 'New Zealand'),
 ('OMN', 'Oman'),
 ('OWID_WRL', 'World'),
 ('PAK', 'Pakistan'),
 ('PAN', 'Panama'),
 ('PER', 'Peru'),
 ('PHL', 'Philippines'),
 ('PLW', 'Palau'),
 ('PNG', 'Papua New Guinea'),
 ('POL', 'Poland'),
 ('PRI', 'Puerto Rico'),
 ('PRK', 'North Korea'),
 ('PRT', 'Portugal'),
 ('PRY', 'Paraguay'),
 ('PSE', 'Palestine'),
 ('PYF', 'French Polynesia'),
 ('QAT', 'Qatar'),
 ('REU', 'Reunion'),
 ('ROU', 'Romania'),
 ('RUS', 'Russia'),
 ('RWA', 'Rwanda'),
 ('SAU', 'Saudi Arabia'),
 ('SDN', 'Sudan'),
 ('SEN', 'Senegal'),
 ('SGP', 'Singapore'),
 ('SHN', 'Saint Helena'),
 ('SLB', 'Solomon Islands'),
 ('SLE', 'Sierra Leone'),
 ('SLV', 'El Salvador'),
 ('SOM', 'Somalia'),
 ('SPM', 'Saint Pierre and Miquelon'),
 ('SRB', 'Serbia'),
 ('SSD', 'South Sudan'),
 ('STP', 'Sao Tome and Principe'),
 ('SUR', 'Suriname'),
 ('SVK', 'Slovakia'),
 ('SVN', 'Slovenia'),
 ('SWE', 'Sweden'),
 ('SWZ', 'Eswatini'),
 ('SXM', 'Sint Maarten (Dutch part)'),
 ('SYC', 'Seychelles'),
 ('SYR', 'Syria'),
 ('TCA', 'Turks and Caicos Islands'),
 ('TCD', 'Chad'),
 ('TGO', 'Togo'),
 ('THA', 'Thailand'),
 ('TJK', 'Tajikistan'),
 ('TKM', 'Turkmenistan'),
 ('TLS', 'Timor'),
 ('TON', 'Tonga'),
 ('TTO', 'Trinidad and Tobago'),
 ('TUN', 'Tunisia'),
 ('TUR', 'Turkey'),
 ('TUV', 'Tuvalu'),
 ('TWN', 'Taiwan'),
 ('TZA', 'Tanzania'),
 ('UGA', 'Uganda'),
 ('UKR', 'Ukraine'),
 ('URY', 'Uruguay'),
 ('USA', 'United States'),
 ('UZB', 'Uzbekistan'),
 ('VCT', 'Saint Vincent and the Grenadines'),
 ('VEN', 'Venezuela'),
 ('VGB', 'British Virgin Islands'),
 ('VNM', 'Vietnam'),
 ('VUT', 'Vanuatu'),
 ('WSM', 'Samoa'),
 ('YEM', 'Yemen'),
 ('ZAF', 'South Africa'),
 ('ZMB', 'Zambia'),
 ('ZWE', 'Zimbabwe'),
 ('nan',)]

Nos quedamos con las localizaciones coincidentes entre las `df_level` (y por tanto `df_spend`) y las que acabamos de obtener:

In [29]:
co2_level_tuples = [x for x in co2_tuples if x[0] in unique_location_level]
co2_level_tuples

[('ARG', 'Argentina'),
 ('AUS', 'Australia'),
 ('AUT', 'Austria'),
 ('BEL', 'Belgium'),
 ('BRA', 'Brazil'),
 ('CAN', 'Canada'),
 ('CHE', 'Switzerland'),
 ('CHL', 'Chile'),
 ('CHN', 'China'),
 ('COL', 'Colombia'),
 ('CRI', 'Costa Rica'),
 ('CZE', 'Czechia'),
 ('DEU', 'Germany'),
 ('DNK', 'Denmark'),
 ('ESP', 'Spain'),
 ('EST', 'Estonia'),
 ('FIN', 'Finland'),
 ('FRA', 'France'),
 ('GBR', 'United Kingdom'),
 ('GRC', 'Greece'),
 ('HUN', 'Hungary'),
 ('IDN', 'Indonesia'),
 ('IND', 'India'),
 ('IRL', 'Ireland'),
 ('ISL', 'Iceland'),
 ('ISR', 'Israel'),
 ('ITA', 'Italy'),
 ('JPN', 'Japan'),
 ('KOR', 'South Korea'),
 ('LTU', 'Lithuania'),
 ('LUX', 'Luxembourg'),
 ('LVA', 'Latvia'),
 ('MEX', 'Mexico'),
 ('NLD', 'Netherlands'),
 ('NOR', 'Norway'),
 ('NZL', 'New Zealand'),
 ('POL', 'Poland'),
 ('PRT', 'Portugal'),
 ('RUS', 'Russia'),
 ('SAU', 'Saudi Arabia'),
 ('SVK', 'Slovakia'),
 ('SVN', 'Slovenia'),
 ('SWE', 'Sweden'),
 ('TUR', 'Turkey'),
 ('USA', 'United States'),
 ('ZAF', 'South Africa')]

In [30]:
len(co2_level_tuples)

46

Seleccionamos las localizaciones entre estos datset y el de las vacunas, que es el único que resta:

In [25]:
vaccines_location = np.unique(df_vacc['country or territory'])

In [26]:
common_locations = [x for x in vaccines_location if x in [x[1] for x in co2_level_tuples]]
common_locations

['Argentina',
 'Australia',
 'Austria',
 'Belgium',
 'Brazil',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Poland',
 'Portugal',
 'Russia',
 'Saudi Arabia',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey']

In [27]:
len(common_locations)

43

Países no contenidos:

In [36]:
diff_locations = [x for x in [x[1] for x in co2_level_tuples] if x not in vaccines_location]
diff_locations

['Czechia', 'United Kingdom', 'United States']

Ya tenemos los paises coincidentes entre todos los datsets, que son 43. Pero no están filtrados por año. Esto no nos garantiza que haya datos para todos estos países, en todos los dataset para todos los años disponibles.

## En segundo lugar, filtramos por año:

**Para el datset relativo al nivel educativo `df_level`**, seleccionamos el año 2018 y despreciamos las columnas que no nos interesan.

Recordemos que, en el dataset `df_level`, obteníamos 7 posibles valoes de la columna "SUBJJECT", que mide recoge las variables obtetivo. Por tanto, podemos seleccionar por año, agrupas por país y usar la dfunción `sum()` para comprobar si hay datos repetidos. Si el resultado de "TIME" es 2018x7, es que están todos los datos completos; si es mayor que  2018x7 indica que hay campos duplicados; si es menor que  2018x7 indica que faltan datos.

In [50]:
temp = df_level[df_level['TIME'] == 2018].groupby("LOCATION").sum()['TIME']

In [51]:
temp[temp / 2018 < 7]

LOCATION
JPN    6054
Name: TIME, dtype: int64

In [52]:
temp[temp / 2018 > 7]

Series([], Name: TIME, dtype: int64)

Tan sólo nos faltan datos par JPN, algo que comprobaremos a continuación.

Por tanto, como función de agregado en pivot_tables, empleamos "first" ya que no hay países duplicados. Despreciamos ciertas columns que no snos interesan por tomar un único valor que no nos aporta información:

In [53]:
df_1 = df_level[df_level['TIME'] == 2018].\
     drop(['FREQUENCY', 'Flag Codes', 'INDICATOR', 'MEASURE', 'TIME'], axis = 1).\
        pivot_table(values  = 'Value',
                    index   = 'LOCATION',
                    columns = 'SUBJECT',
                    aggfunc = 'first')

Puesto que los nombres de las columas de `df_level` coinciden con los de `df_spend`, añadimos un sufijo:

In [54]:
df_1.columns = df_1.columns + '-level'

In [55]:
df_1

SUBJECT,BUPPSRY-level,TRY-level,TRY_MEN-level,TRY_WOMEN-level,UPPSRY-level,UPPSRY_MEN-level,UPPSRY_WOMEN-level
LOCATION,,,,,,,
ARG,36.359135,35.663551,31.336042,39.529755,27.977314,28.792295,27.249208
AUS,18.108641,45.727478,40.441612,50.837093,36.163879,41.903530,30.615618
AUT,14.702526,32.711426,33.656857,31.769451,52.586048,55.005234,50.175697
BEL,21.773218,40.638546,36.949390,44.334103,37.588238,40.415058,34.756508
BRA,46.954311,18.429998,15.601707,20.977964,34.615692,34.144085,35.040554
CAN,8.377914,57.888363,51.314053,64.394012,33.733723,38.883816,28.637413
CHE,11.598805,43.744415,47.688629,39.743084,44.656780,41.725693,47.630314
COL,44.813713,23.391361,21.082104,25.569864,31.794924,31.868658,31.725365
CRI,60.770302,22.601564,21.556192,23.628597,16.628136,16.384611,16.867390
CZE,6.139409,24.262077,22.450584,26.133144,69.598511,72.602074,66.496178
DEU,13.324821,29.065134,31.651323,26.440598,57.610046,56.017559,59.226143
DNK,18.940752,39.447910,33.794849,45.166317,41.611340,45.018398,38.164898
ESP,39.884182,37.252804,34.640388,39.846661,22.863016,22.596468,23.127670
EST,10.810427,41.130722,30.904222,51.221062,48.058849,54.846138,41.361931
FIN,10.926194,45.188133,37.464184,53.070175,43.885674,48.997135,38.669590
FRA,20.640024,36.897491,34.210983,39.442608,42.462482,45.541195,39.545807
G20,34.080354,33.640558,31.928621,35.220310,33.422057,35.481283,31.427534
GBR,20.707432,45.781677,43.751423,47.731743,33.510891,34.805092,32.267807
GRC,26.630527,31.739904,30.345835,33.103279,41.629566,42.075829,41.193134
HUN,15.138174,25.101177,21.622774,28.486479,59.760651,64.807388,54.848988
IRL,16.825432,46.935135,43.093826,50.639732,36.239433,37.074486,35.434101
ISL,24.459627,40.279774,32.074547,49.068707,35.260601,41.857006,28.194933
ISR,13.634555,50.201576,45.497807,54.747131,36.163872,40.024128,32.433453
ITA,38.252495,19.323732,16.485533,22.103590,42.423771,43.170307,41.692581
JPN,NaN,51.928062,51.028938,52.841282,NaN,NaN,NaN
KOR,11.811645,49.008511,51.760632,46.163258,39.179844,38.987740,39.378452
LTU,7.022464,41.654594,33.979832,48.837761,51.322941,56.734547,46.257969
LUX,22.764822,43.886856,43.216248,44.569466,33.348320,34.551289,32.123833
LVA,12.368318,33.939289,24.911245,42.313160,53.692394,58.617363,49.124287
MEX,60.853703,17.979799,18.878956,17.188690,21.166498,20.928068,21.376276
NLD,20.976793,38.343895,37.782265,38.904495,40.679310,41.538254,39.821945
NOR,17.522373,43.575832,39.068577,48.301937,38.901794,42.658073,34.963131
NZL,19.542797,39.292675,36.308079,42.103603,41.164528,43.507744,38.957661
OAVG,22.027774,36.846518,33.577753,40.070351,41.544640,44.240052,38.852146
POL,7.552199,30.919592,25.205914,36.574348,61.528210,66.904831,56.207031
PRT,50.189827,24.984337,19.692612,29.829231,24.825838,25.076330,24.596498
RUS,4.802298,56.725521,49.234489,63.460545,38.472183,45.109924,32.504326
SVK,8.421120,24.583420,20.983791,28.216055,66.995461,71.502182,62.447418
SVN,11.862703,32.455208,26.375181,38.859341,55.682087,62.456078,48.547001
SWE,16.712725,43.247318,36.428112,50.303387,40.039955,45.640575,34.244801
TUR,59.763054,20.780222,21.766516,19.684227,19.456722,22.162004,16.450544
USA,9.176164,47.431145,44.312847,50.435326,43.392693,45.757004,41.114902
ZAF,55.297176,15.387996,14.855694,15.901568,29.314827,30.129017,28.529285

In [56]:
len(df_1)

43

Observamos que hay valores nan para JPN.

Al filtrar datos de nivel educativo por año 2018, ¿estamos perdiendo algún país? Hemos perdido:

In [57]:
[x for x in unique_location_level if x not in df_1.index]

['CHL', 'CHN', 'IDN', 'IND', 'SAU']

In [58]:
len(df_1.index)

43

Hemos perdido 5 países que no tienen datos para 2018.

Repetimos el mismo proceso para el **dataset de gasto educativo `df_spend`**:

Comprobamos si hay duplicados:

In [59]:
temp = df_spend[df_spend['TIME'] == 2018].groupby("LOCATION").sum()['TIME']

In [60]:
temp[temp / 2018 < 7]

LOCATION
JPN    6054
Name: TIME, dtype: int64

In [61]:
temp[temp / 2018 > 7]

Series([], Name: TIME, dtype: int64)

Nuevamente, faltan datos para JPN, pero no hay duplicados, luego volvemos a usar la función de agregado "first":

In [62]:
df_2 = df_spend[df_spend['TIME'] == 2018].\
     drop(['FREQUENCY', 'Flag Codes', 'INDICATOR', 'MEASURE', 'TIME'], axis = 1).\
        pivot_table(values = 'Value',
                          index = 'LOCATION',
                          columns='SUBJECT',
                          aggfunc='first')

Añadimos un sufijo a los nombres de las columnas:

In [63]:
df_2.columns = df_2.columns + '-spend'

In [64]:
df_2

SUBJECT,BUPPSRY-spend,TRY-spend,TRY_MEN-spend,TRY_WOMEN-spend,UPPSRY-spend,UPPSRY_MEN-spend,UPPSRY_WOMEN-spend
LOCATION,,,,,,,
ARG,36.359135,35.663551,31.336042,39.529755,27.977314,28.792295,27.249208
AUS,18.108641,45.727478,40.441612,50.837093,36.163879,41.903530,30.615618
AUT,14.702526,32.711426,33.656857,31.769451,52.586048,55.005234,50.175697
BEL,21.773218,40.638546,36.949390,44.334103,37.588238,40.415058,34.756508
BRA,46.954311,18.429998,15.601707,20.977964,34.615692,34.144085,35.040554
CAN,8.377914,57.888363,51.314053,64.394012,33.733723,38.883816,28.637413
CHE,11.598805,43.744415,47.688629,39.743084,44.656780,41.725693,47.630314
COL,44.813713,23.391361,21.082104,25.569864,31.794924,31.868658,31.725365
CRI,60.770302,22.601564,21.556192,23.628597,16.628136,16.384611,16.867390
CZE,6.139409,24.262077,22.450584,26.133144,69.598511,72.602074,66.496178
DEU,13.324821,29.065134,31.651323,26.440598,57.610046,56.017559,59.226143
DNK,18.940752,39.447910,33.794849,45.166317,41.611340,45.018398,38.164898
ESP,39.884182,37.252804,34.640388,39.846661,22.863016,22.596468,23.127670
EST,10.810427,41.130722,30.904222,51.221062,48.058849,54.846138,41.361931
FIN,10.926194,45.188133,37.464184,53.070175,43.885674,48.997135,38.669590
FRA,20.640024,36.897491,34.210983,39.442608,42.462482,45.541195,39.545807
G20,34.080354,33.640558,31.928621,35.220310,33.422057,35.481283,31.427534
GBR,20.707432,45.781677,43.751423,47.731743,33.510891,34.805092,32.267807
GRC,26.630527,31.739904,30.345835,33.103279,41.629566,42.075829,41.193134
HUN,15.138174,25.101177,21.622774,28.486479,59.760651,64.807388,54.848988
IRL,16.825432,46.935135,43.093826,50.639732,36.239433,37.074486,35.434101
ISL,24.459627,40.279774,32.074547,49.068707,35.260601,41.857006,28.194933
ISR,13.634555,50.201576,45.497807,54.747131,36.163872,40.024128,32.433453
ITA,38.252495,19.323732,16.485533,22.103590,42.423771,43.170307,41.692581
JPN,NaN,51.928062,51.028938,52.841282,NaN,NaN,NaN
KOR,11.811645,49.008511,51.760632,46.163258,39.179844,38.987740,39.378452
LTU,7.022464,41.654594,33.979832,48.837761,51.322941,56.734547,46.257969
LUX,22.764822,43.886856,43.216248,44.569466,33.348320,34.551289,32.123833
LVA,12.368318,33.939289,24.911245,42.313160,53.692394,58.617363,49.124287
MEX,60.853703,17.979799,18.878956,17.188690,21.166498,20.928068,21.376276
NLD,20.976793,38.343895,37.782265,38.904495,40.679310,41.538254,39.821945
NOR,17.522373,43.575832,39.068577,48.301937,38.901794,42.658073,34.963131
NZL,19.542797,39.292675,36.308079,42.103603,41.164528,43.507744,38.957661
OAVG,22.027774,36.846518,33.577753,40.070351,41.544640,44.240052,38.852146
POL,7.552199,30.919592,25.205914,36.574348,61.528210,66.904831,56.207031
PRT,50.189827,24.984337,19.692612,29.829231,24.825838,25.076330,24.596498
RUS,4.802298,56.725521,49.234489,63.460545,38.472183,45.109924,32.504326
SVK,8.421120,24.583420,20.983791,28.216055,66.995461,71.502182,62.447418
SVN,11.862703,32.455208,26.375181,38.859341,55.682087,62.456078,48.547001
SWE,16.712725,43.247318,36.428112,50.303387,40.039955,45.640575,34.244801
TUR,59.763054,20.780222,21.766516,19.684227,19.456722,22.162004,16.450544
USA,9.176164,47.431145,44.312847,50.435326,43.392693,45.757004,41.114902
ZAF,55.297176,15.387996,14.855694,15.901568,29.314827,30.129017,28.529285

In [65]:
len(df_2)

43

AL filtrar datos de gasto educativo por año 2018, ¿estamos perdiendo algún país? Hemos perdido:

In [66]:
[x for x in unique_location_spend if x not in df_2.index]

['CHL', 'CHN', 'IDN', 'IND', 'SAU']

In [67]:
len(df_1.index)

43

Hemos perdido los mismos países que en el dataset de nivel eductivo.

**Filtramos por año 2018 en el dataset relativo al C02:**

In [68]:
#[x for x in co2_level_tuples if x[1] in vaccines_location]

Originalmente, sin filtrar por año, coincidían 46 países entre los dataset de la OCDE y el de CO2 de un total de 48 países (todos salvo G20 y OAVG). Filtrando por 2018 en los dataset de la OCDE, tenemos 43 paises. Como ninguno de los paises que hemos perdido es G20 U OAVG, entonces, como mucho, habrá 41 paises en CO2 para el año 2018.

In [69]:
definite_countries = [x[0] for x in co2_level_tuples if x[1] in vaccines_location]

In [70]:
df_co2_countries = df_co2[df_co2['Code'].isin(definite_countries)]

In [71]:
df_3 = df_co2_countries[df_co2_countries['Year'] == 2018].\
                    drop(['Entity', 'Year'], axis = 1).\
                    set_index('Code')

In [72]:
df_3

      Annual CO2 emissions (per capita)
Code
ARG                              4.0824
AUS                             16.7081
AUT                              7.4865
BEL                              8.7289
BRA                              2.3091
CAN                             15.6299
CHL                              4.5068
CHN                              7.2077
COL                              1.7092
CRI                              1.6446
DNK                              6.0277
EST                             13.5644
FIN                              8.3021
FRA                              4.9603
DEU                              9.0721
GRC                              6.8244
HUN                              5.0897
ISL                             10.8799
IND                              1.9220
IDN                              2.2972
IRL                              8.1340
ISR                              7.2238
ITA                              5.7568
JPN                              8.9893
LVA                              4.0755
LTU                              4.8893
LUX                             15.8354
MEX                              3.6081
NLD                              9.3215
NZL                              7.5455
NOR                              8.3307
POL                              8.8866
PRT                              5.0206
RUS                             11.6078
SAU                             18.4541
SVK                              6.6073
SVN                              6.9753
ZAF                              8.0321
KOR                             13.1250
ESP                              5.7763
SWE                              4.2215
CHE                              4.3243
TUR                              5.0940

Por comodidad, nemobramos la columnas:

In [73]:
df_3.columns = ['C02']

Por comodidad, renombramos el índice:

In [74]:
df_3.index.name = "LOCATION"

Obtenemos:

In [75]:
len(df_3.index)

43

Si bien, aún no hemos filtrado por país:

In [76]:
[x for x in df_1.index if x not in df_3.index]

['CZE', 'G20', 'GBR', 'OAVG', 'USA']

Los países de la celda anterior no son coincidentes.

In [77]:
# 43 - 5 = 38 paises

No sólo hemos perdido G20 y OAVG sino también CZE, GBR, USA.

In [78]:
len([x for x in df_1.index if x in df_3.index])

38

In [79]:
my_list_countries_ocde_co2 = [x for x in df_1.index if x in df_3.index]

**Filtramos por año 2018 en vacunas:**

Empleamos el mapeto que hicimos con las tuplas (codigo alpha-3, nombre completo) de los países:

In [80]:
definite_countries = [x for x in co2_level_tuples if x[1] in vaccines_location]

In [81]:
definite_countries_name = [x[1] for x in co2_level_tuples if x[1] in vaccines_location]
len(definite_countries_name)

43

In [82]:
df_vacc_filt = df_vacc[df_vacc['country or territory'].isin(definite_countries_name)]

In [83]:
for x in definite_countries:
    for y in df_vacc_filt['country or territory'].keys():
        if x[1] == df_vacc_filt['country or territory'][y]:
             df_vacc_filt['country or territory'][y] = x[0]

<ipython-input-83-eefc1d3fda74>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacc_filt['country or territory'][y] = x[0]
C:\Users\usuario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [84]:
df_vacc_filt

,country or territory,who_region,count,sagree,sdisagree,question,time
123,ZAF,AFR,1157,806,30,important,"2015,833333"
124,ZAF,AFR,1157,562,48,safe,"2015,833333"
125,ZAF,AFR,1157,588,49,effective,"2015,833333"
126,ZAF,AFR,421,346,14,important,"2018,513889"
127,ZAF,AFR,421,287,16,safe,"2018,513889"
...,...,...,...,...,...,...,...
853,KOR,WPR,898,143,9,safe,"2018,580556"
854,KOR,WPR,898,211,7,effective,"2018,580556"
855,KOR,WPR,1500,604,8,important,"2019,947945"
856,KOR,WPR,1500,486,15,safe,"2019,947945"
857,KOR,WPR,1500,522,7,effective,"2019,947945"

La columna "Time" está guardada como string. Puesto que sólo nos interesa el año y no el año y el mes llevaremos a cabo el siguiente proceso:
* Sustituimos la coma (,) por un punto (.)
* Convertimos a float;
* Redondeamos hacia abajo.

In [85]:
#list(map(lambda x: x.replace(',', '.'), df_vacc_filt['time']))

In [86]:
#list(map(lambda x: m.floor(float(x.replace(',', '.'))), df_vacc_filt['time']))

In [87]:
df_vacc_filt['time'] = list(map(lambda x: m.floor(float(x.replace(',', '.'))), df_vacc_filt['time']))

<ipython-input-87-f04e1ff0dc36>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacc_filt['time'] = list(map(lambda x: m.floor(float(x.replace(',', '.'))), df_vacc_filt['time']))

Salta un earning porque estamos modificando en el original, pero no nos supone ningún perjuicio. De este modo, la columna "time" resulta:

In [88]:
df_vacc_filt.head()

    country or territory who_region  count  sagree  sdisagree   question  time
123                  ZAF        AFR   1157     806         30  important  2015
124                  ZAF        AFR   1157     562         48       safe  2015
125                  ZAF        AFR   1157     588         49  effective  2015
126                  ZAF        AFR    421     346         14  important  2018
127                  ZAF        AFR    421     287         16       safe  2018

Filtramos por el año 2018 y agrupamos según territorio. Para ver queé función de agregado utilizar, repetimos el proceso ya explicado para ver si hay países que realizaron más de una encuesta en 2018. Esta vez, tenemos 3 valores que nos interesan (imprtant, safe, effective) en la columna "question":

In [89]:
temp = df_vacc_filt[df_vacc_filt["time"] == 2018].groupby("country or territory").sum()['time']

Países en los que se hizo una única encuesta en 2018:

In [90]:
temp[temp / 2018 == 3 ]

country or territory
ARG    6054
AUS    6054
BRA    6054
CAN    6054
CHE    6054
CHL    6054
CHN    6054
COL    6054
CRI    6054
IDN    6054
IND    6054
ISL    6054
ISR    6054
JPN    6054
KOR    6054
MEX    6054
NOR    6054
NZL    6054
RUS    6054
SAU    6054
TUR    6054
ZAF    6054
Name: time, dtype: int64

Países en los que se hizo más de una encuesta en 2018:

In [91]:
temp[temp / 2018 > 3]

country or territory
AUT    12108
BEL    12108
DEU    12108
DNK    12108
ESP    12108
EST    12108
FIN    12108
FRA    12108
GRC    12108
HUN    12108
IRL    12108
ITA    12108
LTU    12108
LUX    12108
LVA    12108
NLD    12108
POL    12108
PRT    12108
SVK    12108
SVN    12108
SWE    12108
Name: time, dtype: int64

Países en los que se hizo menos de una encuenta en 2018 (esta comprobaci´pn carece de sentido pero, por si acaso):

In [92]:
temp[temp / 2018 < 3]

Series([], Name: time, dtype: int64)

Por tanto, si empleasemos pivot_tables con función de agregado "first", estaríamos perdiendo información.

Filtramos por año 2018 y despreciamos las columnas que no nos interesa:

In [93]:
df_vacc_2018 = df_vacc_filt[df_vacc_filt['time'] == 2018].\
                drop(['time', 'who_region'], axis = 1)

In [94]:
df_vacc_2018

    country or territory  count  sagree  sdisagree   question
126                  ZAF    421     346         14  important
127                  ZAF    421     287         16       safe
128                  ZAF    421     279         24  effective
150                  ARG    962     902          6  important
151                  ARG    962     737         13       safe
..                   ...    ...     ...        ...        ...
823                  NZL    966     399         32       safe
824                  NZL    966     524         14  effective
852                  KOR    898     345         12  important
853                  KOR    898     143          9       safe
854                  KOR    898     211          7  effective

[192 rows x 5 columns]

Empleamos `np.mean` como función de agregado para los así tratas los países en los que se realizó más de una encuenta en 2018:

In [95]:
df_temp = df_vacc_2018.pivot_table(values = ['count', 'sagree', 'sdisagree'],
                          index   = 'country or territory',
                          columns = 'question',
                          aggfunc = np.mean)

In [96]:
df_temp

                         count                      sagree                    \
question             effective important    safe effective important    safe
country or territory
ARG                      962.0     962.0   962.0     702.0     902.0   737.0
AUS                      988.0     988.0   988.0     707.0     824.0   602.0
AUT                      942.0     942.0   942.0     423.0     552.0   342.0
BEL                      970.0     970.0   970.0     486.5     648.5   382.0
BRA                      950.0     950.0   950.0     546.0     798.0   584.0
CAN                      985.0     985.0   985.0     569.0     745.0   523.0
CHE                      930.0     930.0   930.0     298.0     452.0   211.0
CHL                      914.0     914.0   914.0     577.0     723.0   555.0
CHN                     3233.0    3233.0  3233.0    1570.0    2093.0  1508.0
COL                      920.0     920.0   920.0     575.0     810.0   598.0
CRI                      949.0     949.0   949.0     688.0     893.0   696.0
DEU                      950.0     950.0   950.0     496.0     641.5   418.5
DNK                      989.0     989.0   989.0     610.0     801.0   553.0
ESP                      993.0     993.0   993.0     645.0     779.0   616.0
EST                      972.5     972.5   972.5     371.5     598.5   299.0
FIN                      981.5     981.5   981.5     528.0     812.5   465.0
FRA                      986.0     986.0   986.0     282.0     444.5   211.5
GRC                      979.5     979.5   979.5     517.5     706.5   451.0
HUN                      980.5     980.5   980.5     615.5     786.5   607.0
IDN                      639.0     639.0   639.0     313.0     470.0   390.0
IND                     2707.0    2707.0  2707.0    2321.0    2405.0  2339.0
IRL                      978.5     978.5   978.5     528.5     662.0   458.5
ISL                      485.0     485.0   485.0     358.0     440.0   131.0
ISR                      998.0     998.0   998.0     487.0     659.0   402.0
ITA                      992.0     992.0   992.0     508.5     639.5   426.5
JPN                      939.0     939.0   939.0     134.0     220.0    81.0
KOR                      898.0     898.0   898.0     211.0     345.0   143.0
LTU                      891.5     891.5   891.5     295.5     461.5   300.5
LUX                      730.0     730.0   730.0     318.0     502.0   251.0
LVA                      998.5     998.5   998.5     248.5     470.0   245.0
MEX                      949.0     949.0   949.0     721.0     844.0   715.0
NLD                      949.5     949.5   949.5     445.0     648.5   402.5
NOR                      898.0     898.0   898.0     636.0     788.0   515.0
NZL                      966.0     966.0   966.0     524.0     709.0   399.0
POL                      944.0     944.0   944.0     500.5     556.5   447.0
PRT                      989.0     989.0   989.0     477.0     759.5   531.0
RUS                     1828.0    1828.0  1828.0     741.0    1118.0   554.0
SAU                      963.0     963.0   963.0     655.0     813.0   674.0
SVK                      966.5     966.5   966.5     451.5     581.0   382.5
SVN                      980.0     980.0   980.0     394.0     547.0   331.0
SWE                     1006.5    1006.5  1006.5     509.5     720.5   397.0
TUR                      895.0     895.0   895.0     599.0     718.0   543.0
ZAF                      421.0     421.0   421.0     279.0     346.0   287.0

                     sdisagree
question             effective important   safe
country or territory
ARG                        8.0       6.0   13.0
AUS                       17.0      18.0   33.0
AUT                       30.0      51.0   55.5
BEL                       30.0      22.0   64.0
BRA                       12.0       2.0   14.0
CAN                       15.0      20.0   28.0
CHE                       11.0      35.0   36.0
CHL                       18.0      16.0   37.0
CHN                       31.0      24.0   73.0
COL                       17.0       2.0   28.0
CRI                       22.0       5.0   18.0
DEU                       12.0      18.0   37.0
DNK                       10.5       8.5   15.0
ESP                       19.5      12.0   15.0
EST                       21.5      25.0   46.5
FIN                        9.5       4.5   11.5
FRA                       52.0      34.5   96.5
GRC                       11.5       8.5   26.5
HUN                       10.5       7.0   18.0
IDN                       13.0       5.0    5.0
IND                       19.0      16.0   25.0
IRL                       13.0      20.5   27.5
ISL                        2.0       2.0   16.0
ISR                        4.0       0.0    6.0
ITA                       12.5      17.5   27.5
JPN                        8.0      11.0   12.0
KOR                        7.0      12.0    9.0
LTU                       17.0      15.5   22.0
LUX                       11.5      14.5   23.5
LVA                       25.0      18.5   31.5
MEX                       29.0       4.0   35.0
NLD                       26.5      20.5   31.5
NOR                        8.0       6.0   16.0
NZL                       14.0      25.0   32.0
POL                       30.5      33.0   35.0
PRT                        7.5       2.5   10.5
RUS                       83.0      77.0  107.0
SAU                        6.0       2.0    5.0
SVK                       27.5      20.5   38.0
SVN                       33.5      28.5   48.0
SWE                       19.0      16.0   30.0
TUR                       16.0      11.0   13.0
ZAF                       24.0      14.0   16.0

Comprobemos que ha salido bien, analizando algunos valores. En ZAF, sólo se hizo una encuesta:

In [97]:
df_vacc_2018[df_vacc_2018["country or territory"] == "ZAF"]

    country or territory  count  sagree  sdisagree   question
126                  ZAF    421     346         14  important
127                  ZAF    421     287         16       safe
128                  ZAF    421     279         24  effective

In [98]:
df_temp.loc["ZAF"]

           question
count      effective    421.0
           important    421.0
           safe         421.0
sagree     effective    279.0
           important    346.0
           safe         287.0
sdisagree  effective     24.0
           important     14.0
           safe          16.0
Name: ZAF, dtype: float64

Los datos coinciden.

En España, sí se hizo más de una encuesta:

In [99]:
df_vacc_2018[df_vacc_2018["country or territory"] == "ESP"]

    country or territory  count  sagree  sdisagree   question
678                  ESP   1005     823          2  important
679                  ESP   1005     642          6       safe
680                  ESP   1005     703          8  effective
681                  ESP    981     735         22  important
682                  ESP    981     590         24       safe
683                  ESP    981     587         31  effective

In [100]:
df_temp.loc["ESP"]

           question
count      effective    993.0
           important    993.0
           safe         993.0
sagree     effective    645.0
           important    779.0
           safe         616.0
sdisagree  effective     19.5
           important     12.0
           safe          15.0
Name: ESP, dtype: float64

Comprobamos que la media de encuentados es (1005 + 981) / 2, que está recogida como 993 en el dataset `df_temp`. Del mismo modo, podemos fijarnos que, en en cada una de las encuestas, a la cuestiñon "important", en "sdisagrree", responden 2 y 22 personas, que da una media de 12 y así es como se recoge en `df_temp`.

Lo hemos llamado `df_temp` ya que es temporal, pues tenemos que hacer frente a otro problema: no en todos los pañises se ha preguntado al mismo número de personas. Por ello, tenemos que considerar los datos de frecuencia relativa y no los datos de frecuencia absoluta.

Antes de nada, aplanamos las columasn jerárquitas de `df_temp` y cambiamos el nombre del índice:

In [101]:
[' '.join(col).strip() for col in df_temp.columns.values]

['count effective',
 'count important',
 'count safe',
 'sagree effective',
 'sagree important',
 'sagree safe',
 'sdisagree effective',
 'sdisagree important',
 'sdisagree safe']

In [102]:
df_temp = df_temp.set_axis(['-'.join(col) for col in df_temp.columns.values], axis = 1)

In [103]:
df_temp.index.name = "LOCATION"

In [104]:
df_temp

,count-effective,count-important,count-safe,sagree-effective,sagree-important,sagree-safe,sdisagree-effective,sdisagree-important,sdisagree-safe
LOCATION,,,,,,,,,
ARG,962.0,962.0,962.0,702.0,902.0,737.0,8.0,6.0,13.0
AUS,988.0,988.0,988.0,707.0,824.0,602.0,17.0,18.0,33.0
AUT,942.0,942.0,942.0,423.0,552.0,342.0,30.0,51.0,55.5
BEL,970.0,970.0,970.0,486.5,648.5,382.0,30.0,22.0,64.0
BRA,950.0,950.0,950.0,546.0,798.0,584.0,12.0,2.0,14.0
CAN,985.0,985.0,985.0,569.0,745.0,523.0,15.0,20.0,28.0
CHE,930.0,930.0,930.0,298.0,452.0,211.0,11.0,35.0,36.0
CHL,914.0,914.0,914.0,577.0,723.0,555.0,18.0,16.0,37.0
CHN,3233.0,3233.0,3233.0,1570.0,2093.0,1508.0,31.0,24.0,73.0
COL,920.0,920.0,920.0,575.0,810.0,598.0,17.0,2.0,28.0
CRI,949.0,949.0,949.0,688.0,893.0,696.0,22.0,5.0,18.0
DEU,950.0,950.0,950.0,496.0,641.5,418.5,12.0,18.0,37.0
DNK,989.0,989.0,989.0,610.0,801.0,553.0,10.5,8.5,15.0
ESP,993.0,993.0,993.0,645.0,779.0,616.0,19.5,12.0,15.0
EST,972.5,972.5,972.5,371.5,598.5,299.0,21.5,25.0,46.5
FIN,981.5,981.5,981.5,528.0,812.5,465.0,9.5,4.5,11.5
FRA,986.0,986.0,986.0,282.0,444.5,211.5,52.0,34.5,96.5
GRC,979.5,979.5,979.5,517.5,706.5,451.0,11.5,8.5,26.5
HUN,980.5,980.5,980.5,615.5,786.5,607.0,10.5,7.0,18.0
IDN,639.0,639.0,639.0,313.0,470.0,390.0,13.0,5.0,5.0
IND,2707.0,2707.0,2707.0,2321.0,2405.0,2339.0,19.0,16.0,25.0
IRL,978.5,978.5,978.5,528.5,662.0,458.5,13.0,20.5,27.5
ISL,485.0,485.0,485.0,358.0,440.0,131.0,2.0,2.0,16.0
ISR,998.0,998.0,998.0,487.0,659.0,402.0,4.0,0.0,6.0
ITA,992.0,992.0,992.0,508.5,639.5,426.5,12.5,17.5,27.5
JPN,939.0,939.0,939.0,134.0,220.0,81.0,8.0,11.0,12.0
KOR,898.0,898.0,898.0,211.0,345.0,143.0,7.0,12.0,9.0
LTU,891.5,891.5,891.5,295.5,461.5,300.5,17.0,15.5,22.0
LUX,730.0,730.0,730.0,318.0,502.0,251.0,11.5,14.5,23.5
LVA,998.5,998.5,998.5,248.5,470.0,245.0,25.0,18.5,31.5
MEX,949.0,949.0,949.0,721.0,844.0,715.0,29.0,4.0,35.0
NLD,949.5,949.5,949.5,445.0,648.5,402.5,26.5,20.5,31.5
NOR,898.0,898.0,898.0,636.0,788.0,515.0,8.0,6.0,16.0
NZL,966.0,966.0,966.0,524.0,709.0,399.0,14.0,25.0,32.0
POL,944.0,944.0,944.0,500.5,556.5,447.0,30.5,33.0,35.0
PRT,989.0,989.0,989.0,477.0,759.5,531.0,7.5,2.5,10.5
RUS,1828.0,1828.0,1828.0,741.0,1118.0,554.0,83.0,77.0,107.0
SAU,963.0,963.0,963.0,655.0,813.0,674.0,6.0,2.0,5.0
SVK,966.5,966.5,966.5,451.5,581.0,382.5,27.5,20.5,38.0
SVN,980.0,980.0,980.0,394.0,547.0,331.0,33.5,28.5,48.0
SWE,1006.5,1006.5,1006.5,509.5,720.5,397.0,19.0,16.0,30.0
TUR,895.0,895.0,895.0,599.0,718.0,543.0,16.0,11.0,13.0
ZAF,421.0,421.0,421.0,279.0,346.0,287.0,24.0,14.0,16.0

Lo establemcemos como definitivo:

In [105]:
df_4 = df_temp

In [106]:
# PASAMOS A PORCENTAJES

Puesto que las columnas de nombre "count-" se corresponden a la variable original "count·, a priori deben tener valores repetidos para cada fila. Lo comprobamos:

In [107]:
# Comprobamos que todos los contadores son los mismos
cols = df_4.columns.values[:3]
df_4['Same-counter?'] = df_4[cols].eq(df_4[cols[0]], axis=0).all(axis = 1)

In [108]:
np.any(df_4['Same-counter?'] == False)

False

Como todos los counter son iguales, nos quedamos con uno:

In [109]:
df_4 = df_4.drop(['Same-counter?', 'count-effective', 'count-important'], axis = 1)

In [110]:
df_4 = df_4.rename(columns = {'count-safe' : 'count'})

In [111]:
df_4

,count,sagree-effective,sagree-important,sagree-safe,sdisagree-effective,sdisagree-important,sdisagree-safe
LOCATION,,,,,,,
ARG,962.0,702.0,902.0,737.0,8.0,6.0,13.0
AUS,988.0,707.0,824.0,602.0,17.0,18.0,33.0
AUT,942.0,423.0,552.0,342.0,30.0,51.0,55.5
BEL,970.0,486.5,648.5,382.0,30.0,22.0,64.0
BRA,950.0,546.0,798.0,584.0,12.0,2.0,14.0
CAN,985.0,569.0,745.0,523.0,15.0,20.0,28.0
CHE,930.0,298.0,452.0,211.0,11.0,35.0,36.0
CHL,914.0,577.0,723.0,555.0,18.0,16.0,37.0
CHN,3233.0,1570.0,2093.0,1508.0,31.0,24.0,73.0
COL,920.0,575.0,810.0,598.0,17.0,2.0,28.0
CRI,949.0,688.0,893.0,696.0,22.0,5.0,18.0
DEU,950.0,496.0,641.5,418.5,12.0,18.0,37.0
DNK,989.0,610.0,801.0,553.0,10.5,8.5,15.0
ESP,993.0,645.0,779.0,616.0,19.5,12.0,15.0
EST,972.5,371.5,598.5,299.0,21.5,25.0,46.5
FIN,981.5,528.0,812.5,465.0,9.5,4.5,11.5
FRA,986.0,282.0,444.5,211.5,52.0,34.5,96.5
GRC,979.5,517.5,706.5,451.0,11.5,8.5,26.5
HUN,980.5,615.5,786.5,607.0,10.5,7.0,18.0
IDN,639.0,313.0,470.0,390.0,13.0,5.0,5.0
IND,2707.0,2321.0,2405.0,2339.0,19.0,16.0,25.0
IRL,978.5,528.5,662.0,458.5,13.0,20.5,27.5
ISL,485.0,358.0,440.0,131.0,2.0,2.0,16.0
ISR,998.0,487.0,659.0,402.0,4.0,0.0,6.0
ITA,992.0,508.5,639.5,426.5,12.5,17.5,27.5
JPN,939.0,134.0,220.0,81.0,8.0,11.0,12.0
KOR,898.0,211.0,345.0,143.0,7.0,12.0,9.0
LTU,891.5,295.5,461.5,300.5,17.0,15.5,22.0
LUX,730.0,318.0,502.0,251.0,11.5,14.5,23.5
LVA,998.5,248.5,470.0,245.0,25.0,18.5,31.5
MEX,949.0,721.0,844.0,715.0,29.0,4.0,35.0
NLD,949.5,445.0,648.5,402.5,26.5,20.5,31.5
NOR,898.0,636.0,788.0,515.0,8.0,6.0,16.0
NZL,966.0,524.0,709.0,399.0,14.0,25.0,32.0
POL,944.0,500.5,556.5,447.0,30.5,33.0,35.0
PRT,989.0,477.0,759.5,531.0,7.5,2.5,10.5
RUS,1828.0,741.0,1118.0,554.0,83.0,77.0,107.0
SAU,963.0,655.0,813.0,674.0,6.0,2.0,5.0
SVK,966.5,451.5,581.0,382.5,27.5,20.5,38.0
SVN,980.0,394.0,547.0,331.0,33.5,28.5,48.0
SWE,1006.5,509.5,720.5,397.0,19.0,16.0,30.0
TUR,895.0,599.0,718.0,543.0,16.0,11.0,13.0
ZAF,421.0,279.0,346.0,287.0,24.0,14.0,16.0

Establecemos los porcentajes:

In [112]:
for name in df_4.columns[1:]:
    df_4[name] = df_4[name] / df_4['count']

In [113]:
df_4

,count,sagree-effective,sagree-important,sagree-safe,sdisagree-effective,sdisagree-important,sdisagree-safe
LOCATION,,,,,,,
ARG,962.0,0.729730,0.937630,0.766112,0.008316,0.006237,0.013514
AUS,988.0,0.715587,0.834008,0.609312,0.017206,0.018219,0.033401
AUT,942.0,0.449045,0.585987,0.363057,0.031847,0.054140,0.058917
BEL,970.0,0.501546,0.668557,0.393814,0.030928,0.022680,0.065979
BRA,950.0,0.574737,0.840000,0.614737,0.012632,0.002105,0.014737
CAN,985.0,0.577665,0.756345,0.530964,0.015228,0.020305,0.028426
CHE,930.0,0.320430,0.486022,0.226882,0.011828,0.037634,0.038710
CHL,914.0,0.631291,0.791028,0.607221,0.019694,0.017505,0.040481
CHN,3233.0,0.485617,0.647386,0.466440,0.009589,0.007423,0.022580
COL,920.0,0.625000,0.880435,0.650000,0.018478,0.002174,0.030435
CRI,949.0,0.724974,0.940991,0.733404,0.023182,0.005269,0.018967
DEU,950.0,0.522105,0.675263,0.440526,0.012632,0.018947,0.038947
DNK,989.0,0.616785,0.809909,0.559151,0.010617,0.008595,0.015167
ESP,993.0,0.649547,0.784491,0.620342,0.019637,0.012085,0.015106
EST,972.5,0.382005,0.615424,0.307455,0.022108,0.025707,0.047815
FIN,981.5,0.537952,0.827815,0.473765,0.009679,0.004585,0.011717
FRA,986.0,0.286004,0.450811,0.214503,0.052738,0.034990,0.097870
GRC,979.5,0.528331,0.721286,0.460439,0.011741,0.008678,0.027055
HUN,980.5,0.627741,0.802142,0.619072,0.010709,0.007139,0.018358
IDN,639.0,0.489828,0.735524,0.610329,0.020344,0.007825,0.007825
IND,2707.0,0.857407,0.888437,0.864056,0.007019,0.005911,0.009235
IRL,978.5,0.540112,0.676546,0.468574,0.013286,0.020950,0.028104
ISL,485.0,0.738144,0.907216,0.270103,0.004124,0.004124,0.032990
ISR,998.0,0.487976,0.660321,0.402806,0.004008,0.000000,0.006012
ITA,992.0,0.512601,0.644657,0.429940,0.012601,0.017641,0.027722
JPN,939.0,0.142705,0.234292,0.086262,0.008520,0.011715,0.012780
KOR,898.0,0.234967,0.384187,0.159243,0.007795,0.013363,0.010022
LTU,891.5,0.331464,0.517667,0.337072,0.019069,0.017386,0.024678
LUX,730.0,0.435616,0.687671,0.343836,0.015753,0.019863,0.032192
LVA,998.5,0.248873,0.470706,0.245368,0.025038,0.018528,0.031547
MEX,949.0,0.759747,0.889357,0.753425,0.030558,0.004215,0.036881
NLD,949.5,0.468668,0.682991,0.423907,0.027909,0.021590,0.033175
NOR,898.0,0.708241,0.877506,0.573497,0.008909,0.006682,0.017817
NZL,966.0,0.542443,0.733954,0.413043,0.014493,0.025880,0.033126
POL,944.0,0.530191,0.589513,0.473517,0.032309,0.034958,0.037076
PRT,989.0,0.482305,0.767947,0.536906,0.007583,0.002528,0.010617
RUS,1828.0,0.405361,0.611597,0.303063,0.045405,0.042123,0.058534
SAU,963.0,0.680166,0.844237,0.699896,0.006231,0.002077,0.005192
SVK,966.5,0.467150,0.601138,0.395758,0.028453,0.021211,0.039317
SVN,980.0,0.402041,0.558163,0.337755,0.034184,0.029082,0.048980
SWE,1006.5,0.506210,0.715847,0.394436,0.018877,0.015897,0.029806
TUR,895.0,0.669274,0.802235,0.606704,0.017877,0.012291,0.014525
ZAF,421.0,0.662708,0.821853,0.681710,0.057007,0.033254,0.038005

Podemos observar que no todo el mundo responde a las preguntas. Hay gente que o no sabe, o no contesta. Por ejemplo, para "ZAF", seleccionamos sagree-effective y sdisagree-effective que deberían sumar 1, pero no es así:

In [114]:
df_4.loc["ZAF"]

count                  421.000000
sagree-effective         0.662708
sagree-important         0.821853
sagree-safe              0.681710
sdisagree-effective      0.057007
sdisagree-important      0.033254
sdisagree-safe           0.038005
Name: ZAF, dtype: float64

In [115]:
sum(df_4.loc["ZAF"][[1,4]])

0.7197149643705463

In [116]:
sum(df_4.loc["ZAF"][[2,5]])

0.8551068883610451

¿Cuántos países hemos perdido?

In [117]:
len(np.unique(df_4.index))

43

In [118]:
[x for x in df_1.index if x not in df_3.index]

['CZE', 'G20', 'GBR', 'OAVG', 'USA']

In [119]:
# 43 - 5 = 38 ! correcto.

## Por último, unimos todo en un mismo dataset:

Mergeamos `df_1` (nivel educativo) y `df_2` (gasto educativo):

In [120]:
merge_1 = df_1.merge(df_2, left_index = True, right_index = True)

Mergeamos con `df_3` (emisiones CO2):

In [121]:
merge_2 = merge_1.merge(df_3, left_index = True, right_index = True)

In [122]:
len(merge_2)

38

Mergeamos con `df_4` (vacunas):

In [123]:
merge_3 = merge_2.merge(df_4, left_index = True, right_index = True)
len(merge_3)

38

Comprobamos JPN:

In [124]:
merge_3.loc['JPN']

BUPPSRY-level                 NaN
TRY-level               51.928062
TRY_MEN-level           51.028938
TRY_WOMEN-level         52.841282
UPPSRY-level                  NaN
UPPSRY_MEN-level              NaN
UPPSRY_WOMEN-level            NaN
BUPPSRY-spend                 NaN
TRY-spend               51.928062
TRY_MEN-spend           51.028938
TRY_WOMEN-spend         52.841282
UPPSRY-spend                  NaN
UPPSRY_MEN-spend              NaN
UPPSRY_WOMEN-spend            NaN
C02                      8.989300
count                  939.000000
sagree-effective         0.142705
sagree-important         0.234292
sagree-safe              0.086262
sdisagree-effective      0.008520
sdisagree-important      0.011715
sdisagree-safe           0.012780
Name: JPN, dtype: float64

Otra opción, es rellenar los valores vacíos con 0 en lugar de nan:

In [125]:
merge_3_0s = merge_2.join(df_4).fillna(0)

In [126]:
merge_3_0s.loc['JPN']

BUPPSRY-level            0.000000
TRY-level               51.928062
TRY_MEN-level           51.028938
TRY_WOMEN-level         52.841282
UPPSRY-level             0.000000
UPPSRY_MEN-level         0.000000
UPPSRY_WOMEN-level       0.000000
BUPPSRY-spend            0.000000
TRY-spend               51.928062
TRY_MEN-spend           51.028938
TRY_WOMEN-spend         52.841282
UPPSRY-spend             0.000000
UPPSRY_MEN-spend         0.000000
UPPSRY_WOMEN-spend       0.000000
C02                      8.989300
count                  939.000000
sagree-effective         0.142705
sagree-important         0.234292
sagree-safe              0.086262
sdisagree-effective      0.008520
sdisagree-important      0.011715
sdisagree-safe           0.012780
Name: JPN, dtype: float64

### Escribimos los archivos en documentos .csv:

Guardamos en csv:
* target_education_nan.csv: contiene nans; guardamos con índices = código país
* target_education_0.csv: contiene 0s guardamos con índices = código país

In [127]:
merge_3.to_csv('target_education_nan.csv')

In [128]:
merge_3_0s.to_csv('target_education_0.csv')

Porbamos a leer:

In [140]:
final_dset = pd.read_csv('target_education_0.csv')

In [141]:
final_dset.head()

,LOCATION,BUPPSRY-level,TRY-level,TRY_MEN-level,TRY_WOMEN-level,UPPSRY-level,UPPSRY_MEN-level,UPPSRY_WOMEN-level,BUPPSRY-spend,TRY-spend,...,UPPSRY_MEN-spend,UPPSRY_WOMEN-spend,C02,count,sagree-effective,sagree-important,sagree-safe,sdisagree-effective,sdisagree-important,sdisagree-safe
0,ARG,36.359135,35.663551,31.336042,39.529755,27.977314,28.792295,27.249208,36.359135,35.663551,...,28.792295,27.249208,4.0824,962.0,0.729730,0.937630,0.766112,0.008316,0.006237,0.013514
1,AUS,18.108641,45.727478,40.441612,50.837093,36.163879,41.903530,30.615618,18.108641,45.727478,...,41.903530,30.615618,16.7081,988.0,0.715587,0.834008,0.609312,0.017206,0.018219,0.033401
2,AUT,14.702526,32.711426,33.656857,31.769451,52.586048,55.005234,50.175697,14.702526,32.711426,...,55.005234,50.175697,7.4865,942.0,0.449045,0.585987,0.363057,0.031847,0.054140,0.058917
3,BEL,21.773218,40.638546,36.949390,44.334103,37.588238,40.415058,34.756508,21.773218,40.638546,...,40.415058,34.756508,8.7289,970.0,0.501546,0.668557,0.393814,0.030928,0.022680,0.065979
4,BRA,46.954311,18.429998,15.601707,20.977964,34.615692,34.144085,35.040554,46.954311,18.429998,...,34.144085,35.040554,2.3091,950.0,0.574737,0.840000,0.614737,0.012632,0.002105,0.014737

In [143]:
final_dset.dtypes

LOCATION                object
BUPPSRY-level          float64
TRY-level              float64
TRY_MEN-level          float64
TRY_WOMEN-level        float64
UPPSRY-level           float64
UPPSRY_MEN-level       float64
UPPSRY_WOMEN-level     float64
BUPPSRY-spend          float64
TRY-spend              float64
TRY_MEN-spend          float64
TRY_WOMEN-spend        float64
UPPSRY-spend           float64
UPPSRY_MEN-spend       float64
UPPSRY_WOMEN-spend     float64
C02                    float64
count                  float64
sagree-effective       float64
sagree-important       float64
sagree-safe            float64
sdisagree-effective    float64
sdisagree-important    float64
sdisagree-safe         float64
dtype: object